:root {
  --blue: #5267df;
  --tomato: #fa5959;
  --text-color: #242a45;
  --grey: #9194a2;
  --text-75: rgb(36, 42, 69, 0.75);
  --text-50: rgb(36, 42, 69, 0.5);
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: 2px dotted orchid;
  outline-offset: 2px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik","Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  background-color: #f2f2f2;
  color: var(--text-50);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}
