:root {
  --blue: #5267df;
  --red: #fa5959;
  --text-color: #242a45;
  --grey: #9194a2;
  --text-75: rgb(36, 42, 69, 0.75);
  --text-50: rgb(36, 42, 69, 0.5);
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik","Arial", sans-serif;
  font-size: 16px;
  line-height: 36px;
  overflow-x: hidden;
  background-color: #f2f2f2;
  color: var(--text-50);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* LOGO */
.logo {
  display: block;
}

.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 149px;
  height: 25px;
  object-fit: contain;
}

/* BUTTONS */
.button {
  display: inline-block;
  text-align: center;
  border: 2px solid transparent;
  padding: 8px 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
}

.button:active {
  opacity: 0.6;
}

.button--red {
  background-color: var(--red);
}

.button--red:hover {
  border-color: var(--red);
  color: var(--red);
  background-color: transparent;
}

.btn--site-header {
  padding: 10px 31px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
}

.button--blue {
  background-color: var(--blue);
}

.button--blue:hover {
  border-color: var(--blue);
  color: var(--blue);
  background-color: transparent;
}

.button--grey {
  color: var(--text-color);
  background-color: #f7f7f7;
}

.button--grey:hover {
  border-color: #5b6074;
  color: var(--text-75);
  background-color: #fff;
}

.button--block {
  display: block;
  width: 100%;
}


/* SECTION GLOBAL*/
.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section__info {
  width: 100%;
  max-width: 540px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  color: var(--text-color);
}

.section__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-50);
}



/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: auto;
}


/* SITENAV */
.site-header__sitenav {
  margin-right: 48px;
}

.sitenav {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 48px;
}

.sitenav__link {
  display: block;
  font-weight: 400;
  color: var(--text-color);
}

.sitenav__link:hover {
  color: var(--red);
}

.sitenav__link:active {
  opacity: 0.6;
}


/* HERO */
.hero {
  padding-top: 66px;
  padding-bottom: 105px;
  background-image: url("../img/blue-pill-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 700px) 200px;
}

.hero__container {
  display: flex;
  align-items: flex-start;
}

.hero__content {
  flex-shrink: 0;
  width: 100%;
  max-width: 540px;
  padding-top: 65px;
  margin-right: 67px;
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: var(--text-color);
}

.hero__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-50);
}

.hero__actions {
  display: flex;
  margin: 0;
}

.hero__actions-item:not(:last-child) {
  margin-right: 16px;
}

.hero-img {
  flex-shrink: 0;
  width: 578px;
  height: 385px;
  object-fit: contain;
  border-radius: 25px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

/* SECTION FEATURES */
.features {
  background-image: url("../img/blue-pill-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 800px) 500px;
}
.section__features-list {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section__features-item {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section__features-item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.53px;
  color: var(--text-color);
}

.section__features-item-title:not(:last-child) {
  margin-right: 90px;
}
.item-active {
}

.section__features-wrapper {
  display: flex;
  align-items: center;
}
.features-main {
  justify-content: space-between;
  margin-top: 72px;
}


.section__features-img {
  width: 536;
  height: 346px;
  margin-right: 125px;
  object-fit: contain;
}

.features-main__info {
  width: 100%;
  max-width: 450px;
}

.features-main__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  color: var(--text-color);
}

.features-main__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}



/* SECTION EXTENSION */
.section__ex-list {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.section__ex-item {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 49px 24px 24px 24px;
  border-radius: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
}

.section__ex-bg-img {
  position: absolute;
  left: 0;
  bottom: 100px;
}

.section__ex-item:not(:last-child) {
  margin-right: 35px;
}

.section__ex-img {
  margin: 0;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.section__ex-title {
  margin-top: 17px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
  letter-spacing: 0.25px;
  color: var(--text-color);
}

.section__ex-description {
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: var(--text-50);
}
